@media all and (max-width: 1024px) {
    
  
  
    .top-menus {
        display:none;
    }
    
    .top-wrapper > .container {
        position:relative;
    }
  
    .container > .result {
        position:absolute;
         top:43vw;
         left:70vw;
  }
  
    header {
      position:relative;
    }
    
    .menu-icon {
    display:block;
  }
    
    .site-logo {
    font-size:60px;
  }
  
  .logo-title {
    font-size:20px;
  }
    
    .logo {
      position:absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    
    .logo-icon {
      font-size:30px;
    }
    
    .login-icon {
      font-size:20px;
      margin-top:10px;
    }
    
    .log-in a {
      height:50px;
      width:50px;
      text-align: center;
      display:block;
      text-decoration: none;
    }
  
    .log-in p {
      font-size:12px;
      text-align: center;
    }
  
    .first-login a {
      height:50px;
      width:50px;
      text-align: center;
      display:block;
      text-decoration: none;
    }
  
    .first-login p {
      font-size:12px;
      text-align: center;
    }
    
    .consulting {
      height:100%;
    }
    
    .how-to-consulting {
      display: flex;
      justify-content: center;
    }
    
    .consulting1 {
       margin:0 auto;
    }
    
    .consulting2 {
       margin:0 auto;
    }
    
    .consulting3 {
      margin:0 auto;
    }
    
    .image1 {
      margin-top:20px;
    }
    
    .flow {
      height:1130px;
    }
    
    .step {
      width:100%;
    }
    
    .voices1 {
      width:100%;
      height:400px;
    }
    
    
    .voices2 {
      width:100%;
      height:400px;
    }
    
     .parents-voices {
      width:98%;
      padding-top:20px;
      padding-left:10px;
      padding-right:10px;
      vertical-align:center;
    }
    
    .parents-voice {
      margin-top:20px;
      margin-right:0;
      margin-left:0;
      width:100%
    }
    
    .child-voices {
      width:98%;
      padding-top:20px;
      padding-left:10px;
      padding-right:10px;
      vertical-align:center;
    }
    
    .child-voice {
      margin-top:20px;
      margin-right:0;
      margin-left:0;
      width:100%
    }
  
    .school-info {
      width:95%;
      margin-left:2%;
      margin-right:2%;
    }
    
    .inspection-info {
      width:95%;
      margin-left:2%;
      margin-right:2%;
    }
    
    .about-info {
      margin-left:2%;
      margin-right:2%;
    }
    
    .footer-info {
      padding-left:2%;
      padding-right:2%;
    }
    
    .sns {
      margin-top:10px;
    }
   
  }
  
  
  
  @media all and (max-width: 599px) {
    
    .top-menus {
        display:none;
    }
    
    .top-message p {
        font-size:16px;
    }
    
    .log-in a {
      font-size:14px;
      padding-left:8px;
      padding-right:8px;
      margin-right:14px;
    }
    
    .first-login a {
      font-size:14px;
      padding-left:8px;
      padding-right:8px;
    }
    
    .result {
      display:none;
    }
    
    .chat-bot {
      font-size:14px;
    }
    
    .chat-bot a {
      padding:16px 80px;
    }
    
    h1 {
    font-size:35px;
  }
  
  #title {
    font-size:35px;
  }
  }